<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Catalog</title>
</head>
<body>
    <nav><h3><a href="/">Home</a> - <a href="/furnitures/new">Add Furniture</a></h3></nav>
    <h2>Furniture Catalog</h2>
    <ul>
        <% furnitures.forEach((furniture, index) => { %>
            <li><a href="/furnitures/<%= index %> "><%= furniture.name %></a></li>
        <% }) %>
    </ul>
</body>
</html>