<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><h3><a href="/">Home</a> - <a href="/furnitures">Furniture Catalog</a></h3></nav>
    <h1>Add New Furniture</h1>
    <form action="/furnitures" method="POST">
        Name: <input type="text" name="name" placeholder="Shandlefaux"/><br>
        Finish: <input type="text" name="finish" placeholder="Wood, Leather, etc"/><br>
        Quantity: <input type="number" name="quantity" placeholder="5" style="width: 3em"><br>

        <input type="submit" value="Add Furniture">
    </form>
</body>
</html>